<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>2.Projekt</title>
</head>
<body>

    <button id="local_security" onclick="localSecurity()" class="button1">Promjeni sigurnost</button>
    <p id="sigurnost"></p>
    <a href="/">Home</a><br>

    <h1> 2. Projekt iz "Napredni razvoj programske potpore za web" </h1>
    <h2> Loša kontrola pristupa (Broken Access Control) </h2>

    <form id="bcs" method="POST" action="/public">
      
      <input type="submit" value="Dohvati javno dostupne podatke!">
      <input id="test123" type="hidden" name="sigurnost" value="" />

    </form>
    <script>
        // Check browser support
        if (typeof(Storage) !== "undefined") {
              // Store
              console.log(localStorage.getItem("security"));
              if(localStorage.getItem("security") == null){
                  localStorage.setItem("security", "safe");
              }
          } else {
              console.log("Sorry, your browser does not support Web Storage...");
          }
          document.getElementById("sigurnost").innerHTML = localStorage.getItem("security");
          document.getElementById("test123").value = localStorage.getItem("security");
  
          function localSecurity(){
              if(localStorage.getItem("security") == "safe"){
                  localStorage.setItem("security", "unsafe");
                  document.getElementById("sigurnost").innerHTML = localStorage.getItem("security");
                  document.getElementById("test123").value = localStorage.getItem("security");
              }
              else{
                  localStorage.setItem("security", "safe");
                  document.getElementById("sigurnost").innerHTML = localStorage.getItem("security");
                  document.getElementById("test123").value = localStorage.getItem("security");
              }
          }
      </script>

</body>
</html>

