<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>2.Projekt</title>

</head>
<body>

    <h1> 2. Projekt iz "Napredni razvoj programske potpore za web" </h1>
    <div>
        <a href="/sql">SQL umetanje (SQL Injection)</a><br>
        <a href="/xml">Vanjski XML entiteti (XML External Entity, XXE)</a><br>
        <a href="/bac">Loša kontrola pristupa (Broken Access Control)</a><br>
    </div>

</body>
</html>

