<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>2.Projekt</title>
</head>
<body>
      <% if(sigurnost){ %>
        <button id="security" onclick="myFunction()" class="button" style="background-color: green; border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;">Stranica je sigurna</button>
    <% } %>
    <% if(!sigurnost){ %>
        <button id="security" onclick="myFunction()" style="background-color: red; border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;">Stranica nije sigurna</button>
    <% } %>

    <br>
    <a href="/">Home</a><br>

    <h1> 2. Projekt iz "Napredni razvoj programske potpore za web" </h1>
    <h2> Vanjski XML entiteti (XML External Entity, XXE) </h2>

    <form id="movie_form" method="POST" action="/xml">
      <p>Pretvori XML u JSON!</p>
      
      <!-- <legend>Odaberi razinu sigurnosti?</legend>
        <input type="radio" name="security" value="nesigurno" checked>Nesigurno<br>
        <input type="radio" name="security" value="sigurno">Sigurno<br> !-->
      
      <textarea id="xml" name="xml" rows="10" cols="100"></textarea>
      <br>
      <br>

      <input type="submit" value="Pretvori u JSON!">
      
      <br>
      <br>
      <textarea id="json" name="json" rows="10" cols="100"><%=document%></textarea>

    </form>
    <script>
      async function myFunction() {
        const options = {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            }
        }
        const response = await fetch('/change-security', options);
        if(document.getElementById("security").innerHTML == "Stranica je sigurna"){
            document.getElementById("security").innerHTML = "Stranica nije sigurna";
            document.getElementById("security").style.backgroundColor = "red";
        }
        else{
            document.getElementById("security").innerHTML = "Stranica je sigurna";
            document.getElementById("security").style.backgroundColor = "green";
        }
      }
    </script>

</body>
</html>

