<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>2.Projekt</title>
</head>
<body>
    <h1> 2. Projekt iz "Napredni razvoj programske potpore za web" </h1>
    <h2> Vanjski XML entiteti (XML External Entity, XXE) </h2>
      

</body>
</html>

