<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>2.Projekt</title>
</head>
<body>

    <button id="local_security" onclick="localSecurity()" class="button1">Promjeni sigurnost</button>
    <h3 id="sigurnost"></h3>
    <a href="/">Home</a><br>

    <h1> 2. Projekt iz "Napredni razvoj programske potpore za web" </h1>
    <h2> Vanjski XML entiteti (XML External Entity, XXE) </h2>

    <form id="movie_form" method="POST" action="/xml">
      <p>Pretvori XML u JSON!</p>
      
      <textarea id="xml" name="xml" rows="10" cols="100"></textarea>
      <br>
      <br>

      <input type="submit" value="Prikaži podatke!">
      
      <br>
      <br>
      <!--<textarea id="json" name="json" rows="10" cols="100"><%=document%></textarea> -->
      <input id="test123" type="hidden" name="sigurnost" value="" />

      <div>
        <%-document%>
      </div>
      
    </form>

    <script>
      // Check browser support
      if (typeof(Storage) !== "undefined") {
            // Store
            console.log(localStorage.getItem("security"));
            if(localStorage.getItem("security") == null){
                localStorage.setItem("security", "safe");
            }
        } else {
            console.log("Sorry, your browser does not support Web Storage...");
        }
        document.getElementById("sigurnost").innerHTML = localStorage.getItem("security");
        document.getElementById("test123").value = localStorage.getItem("security");

        function localSecurity(){
            if(localStorage.getItem("security") == "safe"){
                localStorage.setItem("security", "unsafe");
                document.getElementById("sigurnost").innerHTML = localStorage.getItem("security");
                document.getElementById("test123").value = localStorage.getItem("security");
            }
            else{
                localStorage.setItem("security", "safe");
                document.getElementById("sigurnost").innerHTML = localStorage.getItem("security");
                document.getElementById("test123").value = localStorage.getItem("security");
            }
        }
    </script>

</body>
</html>

